<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BambooReview</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <jsp-file>/WEB-INF/views/user/LoginView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/user/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSignIn</servlet-name>
    <jsp-file>/WEB-INF/views/user/SignUpView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignIn</servlet-name>
    <url-pattern>/user/userSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <jsp-file>/WEB-INF/views/user/InfoView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/user/userInfo</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PriceView</servlet-name>
    <jsp-file>/WEB-INF/views/payment/PriceView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceView</servlet-name>
    <url-pattern>/price/priceInfo</url-pattern>
  </servlet-mapping>
</web-app>