

/********** header **********/
header			{
	background:url('/BambooReview/images/bambooHeader.png') 2% 15%/15% no-repeat;
	background-color:#68b30d; 
	height:70px; 
	position:relative;
	opacity: 0.8;
	
	}
	.bg-light {
     background-color: green; 
}
.home-logo{
	display:inline-block;
	width:auto;
	position:absolute;
	top:0px;
	width:220px;
	height:130px;
	left:10px;
}



/*메인메뉴 관련 */
header nav {
	/* background: #408080; */
	width: 100%;
	margin-top: 0px;
}
ul.main-nav{
	display: table;
	padding: 0px;
	float:right;
	margin-top:20px;
	/* margin: auto; */
}
ul.main-nav li{
	list-style-type: none;
	width: 8em;
	height: 1px;
	float: left;
	text-align: center;
	font-family: '휴먼모음T', sans-serif;
	margin-top:20px
}


ul.main-nav li a{
	display:block;
	padding: .5em;
	text-decoration: none;
	color: #ffffff;
}
/* ul.main-nav li:hover{background: #30f;} */
ul.main-nav li:hover a {color: #dadada;}

footer p{
	padding-top:25px;
}

/********** footer **********/
footer			{
	background-color:#68b30d; 
	height:70px; 
	position:relative;
	opacity: 0.8;
	top: 698px;
	
	}











