html	{width:1024px; height:768px; margin:0 auto; text-align: center; border:1px solid black;}
body{
	width:1024px; height:768px; margin:0 auto; text-align: center;
}
#listbody{
	background-color:#dddddd;
}
footer{
	top:698px;
	back
}
#re{
	 display: inline-block;
	 width: auto; 
	 position:absolute;
	/*  margin:0 auto; */
	    top: 10%;
	    left: 57%;
	    transform: translate(-65%, 30%);
        font-size:34px;
      	/* font-family: sans-serif; */
      	font-family: 'Nanum Gothic Coding', monospace;
      	font-weight:bold;
      	text-align: center;
      	
}
#cardlist{
	/* display:flex; */
	flex-wrap: wrap;
	flex-direction:row;
	flex-wrap:wrap;
	position: absolute;
	height:150px;
	left: 25%;
	top: 30%; 
}
.hoteldot{
	position: absolute;
	top:81%;
	left:11%;
	height:50px;
}
.textarea{
	position: absolute;
    top: 19%;
    left: 36%;
    width: 370px;
    height: 105px;
    text-align: center;
    font-weight: bold;
	
}
div.ui.card{

	width:600px;
}
.header{
	position:absolute;
	top:1%;
	left:33.5%;
	 position: absolute;
	 text-align: center;
	 width:398px;
}
.listSlides.fade img{
	position:absolute;
	left:0%;
	top:0%;
	width:200px;
	height:200px;
}


/*-------------------------사진 슬라이드 ---------------------------------------------------- */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.listSlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*-------------------------사진 슬라이드 ---------------------------------------------------- */


.slideshow-container{
	width:250px;
	height:100px;
	
}
footer{
	position:absolute;
	top:698px;
	width:1024px;
}

.backbox{
	display: inline-block;
	 width: auto;
	/* position: absolute; */
	border: 1px solid #aaaaaa;
    top: 71px;
    left: 230px;
    background-color:white;
    width: 720px;
    height: 627px;
    box-shadow: 5px 0px 4px #aaaaaa;
}
.listj{
	position:absolute;
	top:128px;
}
.ui.rating{
	position:absolute;
	top:180px;
	left:212px;
}
.ui.visible.message{
	position: fixed;
    top: 160px;
    left: 249px;
    width: 714px;
    text-align: left;
}

.ui.text.menu{
	position:fixed;
	top:132px;
	left:620px;
	height:100px;
	width:20px;
}
.header.item{
	width:70px;
}


