#email-div{
	margin-top:19px;
	margin-left:120px;
}
.email-title{
	position:absolute;
	top:-25px;
	display:inline-block;
	width:auto;
}
#name-div{
	top:27px;
	margin-top:25px;
	margin-left:120px;
	
}
.name-title{
	position:absolute;
	top:-25px;
	display:inline-block;
	width:auto;
}
#phone-div{
	top:60px;
	margin-top:25px;
	margin-left:120px;
	
}
.phone-title{
	position:absolute;
	top:-25px;
	display:inline-block;
	width:auto;
}
.name-input-bar{
	position:absolute;
	height:50px;
}
#submit-button{
	margin-top:123px;
	margin-left:20px;
	
}
#topimg{
	margin-top:-90px;
}
#update-button{
	background-color:#9dcc6e;
}
#password-button{
	background-color:#abc15e;
}
##delete-button{
	position:absolute;
	color:rgb(241, 241, 241);
	background-color:#cc0505; 
	width:121px;
	left:327px;
	top:372px;
}
.header{
	text-align:center;
}
.meta{
	text-align:center;
}


///////////////////////////////////////////UpdatePassword//////////////////
#password-back{
	background-color:#9dcc6e;
}
.sub.header{
	width:403px;
}
#profile-img{
	position:absolute;
	left:8%;
	top:20%;
}
#profile-img-change-btn{
	position:absolute;
	top:0px;
	width:227px;
	height:290px;
	opacity: 0;
}
#profile-img-delete{
	position:absolute;
	left:70px;
	top:290px;
}

#img-viewer{
	height:290px;
}
.ui.menu{
	margin:0 auto;
	top:px;
	padding:0px;
}