@charset "UTF-8";
html	{width:1024px; height:697px; margin:0 auto; text-align: center; }
body{height:697px;}
#month{
	display: inline-block;
	width: auto;
    top: -43px;
    left: -10px;
    width: 427px;
font-family: 'Nanum Gothic Coding', monospace;
}
#year{
	display: inline-block;
	width: auto;
    top: -118px;
    left: 427px;
    width: 426px;
    font-family: 'Nanum Gothic Coding', monospace;
}
.month-detail{
	position:absolute;
    top:120px;
    left:130px;
    width: 190px;
}
.year-detail{
	position:absolute;
    top:-60px;
    left: 145px;
    width: 160px;
}
footer{
	display:inline-block;
	top:718px;
	width:1024px;
}
.all{
	height:100px;
}
.all-content{
	width:900px;
}
}
.ui.menu{
	margin:0 auto;
	padding:0px;
}